*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1.1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e9e9f9;
	
}

/*
**** Layout ****
*/

#area-cabecalho{
	background: #f7b600;
	padding: 15px;
	text-align: center;
	border-radius: 10%;
	
}

#area-logo, #area-menu{
	padding: 10px;
}

ul li{
	
	list-style: none;
	text-align: center;
	display: inline;
}

ul a{
	text-decoration: none;

}

a:link, a:visited{
	color: #f7b600;
}

a:hover{
	text-decoration: none;
}


/****************IDs****************/
#area-cabecalho a:link, #area-cabecalho a:visited{
	color: #fff;
	padding: 8px 12px;
}

#area-cabecalho a:hover{
	color: #f7b600;
	background: #fff;
	border-radius: 30%;
	text-decoration: none;
}

#area-principal{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
	/*border: 1px solid #fff;*/
}

#area-postagem{
	width: 660px;
	float: left;
	/*border: 1px solid #fff;*/
}

#area-lateral{
	width: 240px;
	float: right;
	/*border: 1px solid #fff;*/
}
/****************Classes***************/

.postagem{
	background: white;
	padding: 20px;
	margin-bottom: 20px;
}

form fieldset{
	margin: 1em;
	border: 1px solid #ccc;
	border-radius: 2%;
	padding: 10px;
	background: #f8f1dc;
}

legend{
	font-weight: bold;
} 

label{
	display: block;
	cursor: pointer;
	
}

textarea{
	border: 1px solid #ccc;
	border-radius: 2%;
	width: 70%;
}

input /*[type="text"]*/{	/*esse seletor de atributo [] é novo, entao tem navegadores que nao conseguer indentifica - lo*/
	width: 70%;	
	border: 1px solid #ccc;
	border-radius: 3%;
}

input.radio, input.checkbox, input.submit {
	width: auto;
}
.radio{
	margin-right: 1em;
}

.conteudo-lateral{
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #a5b1c2;
	border-radius: 20%;
}

.branco{
	color: #fff;
}

h1{
	color: black;
	font-size: 2.5em;
}

h2{
	color: #f7b600;
	font-size: 1.4em;
}

h3{
	color: #565656;
	background: #ccc;
	padding: 5px;
	border-radius: 20%;
}

.data-postagem{
	font-size: 0.8em;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: block;
	border-bottom: 3px solid #ccc;
}



